*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: seitu-variable, sans-serif;
	font-variation-settings: "wght" 400;
	font-size: 3rem;
	text-align: center;
	height: auto;
	width: auto;
	box-sizing: border-box;
}

p{
	margin: 30vw 5vw 30vw 5vw;
}

a {
	text-decoration: none;
	background-image: linear-gradient(
		to right,
		#8DC1D7,
		#8DC1D7 50%,
		#FFFFFF 50%
	);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}

a:before {
	content: '';
	background: #8DC1D7;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

a:hover {
	background-position: 0;
}

a:hover::before {
	width:100%;
}

.title-image{
	width: 80vw;
	margin: 5vw;
}

.title{
	font-size: 5rem;
	font-family: "solvent", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	margin-top: 0px;
	padding-top: 20vw;
}

.content{
	color: #3D7F94;
}


.tonext{
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: "solvent", sans-serif;
	margin: 20vw 5vw;
	padding: 5vw;
	background-image: url(cloud.webp);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.tonext a {
	font-size: 5rem;
	color: #3D7F94;
	margin: 5vw;
}

.footer{
	text-align: right;
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
	color: #3D7F94;
}

.content2{
	color: #107683;
	margin: 0vw;
	padding: 10vw;
}

.content25{
	color: #107683;
	margin: 0vw;
	padding: 10vw;
	padding-bottom: 50vh;
}

.content26{
	color: #107683;
	margin: 0vw;
	padding: 10vw;
	padding-top: 50vh;
}

.content27{
	color: #06333B;
	margin: 0vw;
	padding: 10vw;
	padding-top: 50vh;
}

.content28{
	color: #06333B;
	margin: 0vw;
	padding: 10vw;
}

.content3{
	color: #8DC1D7;
	margin: 0vw;
	padding: 15vw 10vw;
	text-shadow: #06333B 1px 0 10px;
}

.content35{
	font-family: "solvent", sans-serif;
	font-size: 5rem;
	margin-top: 150vh;
	color: white;
}

#cloudBorder{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 230vh;
	left: 0vw;
	z-index: +99;
	width: 100vw;
}

#waterBorder{
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 385vh;
	left: 0vw;
	z-index: +99;
	width: 100vw;
}

.tonext2{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 20vw 5vw;
	padding: 20vw;
	font-family: "solvent", sans-serif;
	font-size: 5rem;
	background-image: url(water-circle.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#ending{
	text-shadow: #06333B 1px 0 10px;
}

#my-background{
	margin: 0px;
	padding: 10vh;
	box-sizing: border-box;
}

#background2{
	height: auto;
	width: auto;
	margin: 0px;
	padding-bottom: 0vh;
}

#birds{
	width: auto;
}

#water{
	height: auto;
	margin: 0px;
	padding-bottom: 40vh;
}

#deepwater{
	height: auto;
	margin: 0px;
	padding-bottom: 20vh;
}

#fly{
	height: auto;
	margin: 0px;
	padding: 1vw;
	padding-bottom: 20vh;
}

.popup{
	width: 20%;
	position: absolute;
}

#first{
	bottom: 155vh;
	right: 10vw;
}

#second{
	bottom: 125vh;
	right: 20vw;
}

#third{
	top: 95vh;
	left: 5vw;
}

#fourth{
	top: 75vh;
	right: 10vw;
	z-index: -1;
}

#fifth{
	top: 125vh;
	left: 5vw;
	z-index: -1;
}

#sixth{
	top: 80vh;
	right: 5vw;
}

#seventh{
	top: 120vh;
	left: 10vw;
}

#eighth{
	bottom: 230vh;
	left: 20vw;
}

#ninth{
	top: 10vh;
	left: 3vw;
}

#tenth{
	top: 30vh;
	left: 8vw;
}

#eleventh{
	top: 30vh;
	right: 5vw;
}

#twelfth{
	top: 50vh;
	right: 10vw;
}

#thirteenth{
	top: 180vh;
	left: 5vw;
}

#fourteenth{
	top: 200vh;
	left: 10vw;
}

#fifteenth{
	top: 210vh;
	right: 5vw;
}

#sixteenth{
	top: 230vh;
	right: 10vw;
}

#seventeenth{
	top: 220vh;
	left: 20vw;
}

#eighteenth{
	top: 370vh;
	left: 5vw;
}

#nineteenth{
	top: 380vh;
	left: 10vw;
}

#twentieth{
	top: 390vh;
	left: 20vw;
}

#twentyone{
	top: 380vh;
	right: 20vw;
}

#twentytwo{
	top: 360vh;
	right: 10vw;
}

#twentythree{
	top: 370vh;
	right: 2vw;
}

#twentyfour{
	bottom: 250vh;
	left: 5vw;
}

#twentyfive{
	bottom: 200vh;
	left: 10vw;
}

#twentysix{
	bottom: 220vh;
	left: 20vw;
}

#twentyseven{
	bottom: 210vh;
	left: 25vw;
}

#twentyeight{
	bottom: 240;
	left: 40vw;
}

#twentynine{
	bottom: 220vh;
	left: 34vw;
}

#thirty{
	bottom: 250vh;
	right: 30vw;
}

#thirtyone{
	bottom: 230vh;
	right: 25vw;
}

#thirtytwo{
	bottom: 235vh;
	right: 15vw;
}

#thirtythree{
	bottom: 245vh;
	right: 10vw;
}

#thirtyfour{
	bottom: 220vh;
	right: 5vw;
}

#thirtyfive{
	bottom: 240vh;
	right: 3vw;
}