*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: seitu-variable, sans-serif;
	font-variation-settings: "wght" 400;
	font-size: 3rem;
	text-align: center;
	height: auto;
	box-sizing: border-box;
}

p{
	margin: 30vw 5vw 30vw 5vw;
}

a{
	text-decoration: none;
	color: white;
}

.title-image{
	width: 80vw;
	margin: 5vw;
}

.title{
	font-size: 5rem;
	font-family: "solvent", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	margin-top: 0px;
	padding-top: 20vw;
}

.content{
	color: #3D7F94;
}


.tonext{
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: "solvent", sans-serif;
	margin: 20vw 5vw;
	padding: 5vw;
	background-image: url(cloud.webp);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.tonext a {
	font-size: 5rem;
	color: #3D7F94;
	margin: 5vw;
}

.footer{
	display: flex;
	justify-content: right;
	font-size: 1rem;
	margin: 0vw;
	padding: 1vw;
}

.content2{
	color: #107683;
	margin: 0vw;
	padding: 10vw;
}

.content25{
	color: #107683;
	margin: 0vw;
	padding: 10vw;
	padding-bottom: 50vh;
}

.content26{
	color: #107683;
	margin: 0vw;
	padding: 10vw;
	padding-top: 50vh;
}

.content27{
	color: #06333B;
	margin: 0vw;
	padding: 10vw;
	padding-top: 50vh;
}

.content28{
	color: #06333B;
	margin: 0vw;
	padding: 10vw;
}

.content3{
	color: #8DC1D7;
	margin: 0vw;
	padding: 15vw 10vw;
}

#cloudBorder{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 230vh;
	left: 0vw;
	z-index: +99;
	width: 100vw;
}

#waterBorder{
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 385vh;
	left: 0vw;
	z-index: +99;
	width: 100vw;
}

.tonext2{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 20vw 5vw;
	padding: 20vw;
	font-family: "solvent", sans-serif;
	font-size: 5rem;
	background-image: url(water-circle.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#my-background{
	margin: 0px;
	padding: 10vh;
	box-sizing: border-box;
}

#background2{
	height: auto;
	margin: 0px;
	padding-bottom: 20vh;
}

#water{
	height: auto;
	margin: 0px;
	padding-bottom: 20vh;
}